@{
    ViewData["Title"] = "Lottery Result";
}

<div class="container">
    <div class="winner">The winner is: <span id="winnerName">@ViewBag.WinnerName</span> (Number: <span id="winnerNumber">@ViewBag.WinnerNumber</span>)</div>
    <div class="slot-machine">
        @for (var i = 0; i < ViewBag.WinnerNumber.Length; i++)
        {
            <span class="slot-item" id="digit-@i">@ViewBag.WinnerNumber[i]</span>
        }
    </div>
    <div class="form-group">
        <a href="javascript:history.back()" class="btn btn-secondary btn-back">Back</a>
    </div>
</div>

<link href="~/css/lottery.css" rel="stylesheet" />


<script>
    // JavaScript to trigger the animations
    const digitElements = document.querySelectorAll('.slot-item');
    const winnerNameElement = document.getElementById('winnerName');

    const animateDigits = () => {
        digitElements.forEach((element, index) => {
            setTimeout(() => {
                element.classList.add('animate');
            }, index * 300); // Delay the animations for each digit
        });
    };

    // Delay the winner name animation
    setTimeout(() => {
        winnerNameElement.classList.add('animate');
    }, digitElements.length * 300);

    animateDigits();
</script>
